body {
	color: #3d3d3d;
}

.blogPost {
	width: 90%;
	@include bp(seedling) {
		width: 95%;
	}
	margin: 2rem auto;
	max-width: 1000px;
	clear: both;

	h1 > a {
		text-decoration: none;
	}
}


// .homepagePost {
// 	height: 40rem; //find a better number. % maybe?
// 	overflow: hidden;
// 	position: relative;

// 	&:after {
// 	content: "";
// 	position: absolute;
// 	bottom: 0;
// 	height: 5rem;
// 	width: 100%;
// 	@include linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255,1));
// 	}
// }

.expand {height: 100%;}

.readMore {
	text-align: center;
	font-size: 1.8rem;
}
