$headerFont: "myriad-pro",sans-serif;
$textFont: "museo-sans",sans-serif;
$lineHeight: 1.5;

$brandColor: #388c2c;
$darkGrey: #161616;

.screenReader{
	text-indent: -9999px;
}

.img > img {
	width: 100%;
	height: 100% !important;
}

//----------Media Queries
@mixin bp($point) {
  @if $point == sapling {
    @media (max-width: 1000px) { @content; }
  }
    @else if $point == seedling {
    	@media (max-width: 830px) { @content; }
  }
    @else if $point == sprout {
    	@media (max-width: 500px) { @content; }
  }
}