.btn {
	-webkit-appearance: none;
	border-radius: 0;
	font-family: $textFont;
	padding: 1rem 2rem;
	background: $brandColor;
	color: whitesmoke;
	text-decoration: none;
	letter-spacing: 1px;
	border: none;
	@include transition(background 0.2s linear);

	&:hover {
		background: lighten($brandColor, 8%);
		color: whitesmoke;
	}
}

.olderPosts {
	float: right;
	margin-top: 1rem;
	margin-right: 0.7rem;
	@include bp(seedling) {
		margin-right: 0;
	}
	font-size: 1.8rem;
	line-height: $lineHeight;
}

.featureBtn {
	background: cadetblue;

	&:hover {
		background: lighten(cadetblue, 8%);
	}
}