//----------Main Header

.mainHeader {
	@include clearfix;
	background-color: $darkGrey;
	color: white;
	font-family: $headerFont;

	h2 {
		font-size: 3rem;
		text-align: right;
		padding-right: 5rem;
		@include bp(seedling) {
			padding-right: 2rem;
		}
		margin-top: 1rem;

		span {
			color: $brandColor;
			display: block;
		}
	}

		nav > .menu {
			list-style: none;
			float: left;
			clear: right;
			margin: 0 0 1rem 5rem;

			li {
				display: block;
				float: left;
				width: auto;
				padding: 0 1rem;
				text-align: center;
				border-right: 2px solid;

				&:last-of-type {
					border-right: none;
				}

				a {
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 1.4rem;

					@include transition(all linear 0.2s);

					&:hover {
						color: $brandColor;
					}
				}
			}
		}
		// Collapsed Menu Styles
	.nav-menu {
		display: none;
		margin-left: 2rem;
		padding-bottom:1rem;
		font-size: 2.5rem;
		a {
		text-decoration: none;

		&:hover {
			color: whitesmoke;
			}
		}
	}
	@include bp(seedling) {
		.nav-menu {
			display: inline-block

		}
		 nav > .menu {
			display: none;
		}
	}
}

//----------Main Content Area Header

.mainBanner {
	background: black url("http://kevinfroleikscomedy.files.wordpress.com/2011/12/cropped-banner1.jpg") top center no-repeat;
	min-height: 200px;
		@include bp(seedling) {
			display: none;
		}
}