//----------Some Basics
* {
	@include box-sizing(border-box);
	padding: 0;
	margin: 0;
}

body {
	background: url("../img/ticks.png");
}

//Grid Styles
.grid {
	float: left;
	padding-right: 1rem;

	&:last-of-type {
		padding-right: 0;
	}
}

.col-1-5 {
	width: 20%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-2 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
}

.col-2-3 {
	width: 66.66%;
}

//Main Content
.content {
	@include clearfix();
	width: 90%;
	@include bp(sapling) {
		width: 100%;
	}
	max-width: 1400px;
	margin: 0 auto;
	padding-bottom: 2rem;
	margin-top: 2.5rem;
	@include bp(seedling) {
		margin-top: 0;
		}
	background: #fff;

	.container {
	width: 90%;
	@include bp(sapling) {
		width: 100%;
		padding: 0 2rem;
	}
	margin: 0 auto;
	}
}

//Navigation
.mainHeader {

	.social {
		display: inline-block;
		float: right;
		text-align: right;
		padding: 1rem 5rem 0 0;
		@include bp(seedling) {
			padding-right: 2rem;
		}

		a {
			margin-right:0.3rem;
		}
	}
}

//Blog Posts
.blogPost {
	.postVideo {
		width: 100%;
		max-width: 60%;
		margin: 1rem 0;
		@include bp(sprout) {
			width: 100%;
			max-width: 90%;
		}
	}

	.alignRight {
		float: right;
		margin-left: 1.5rem;
		@include bp(sprout) {
			float: none;
			padding: 0;
		}
	}

	.alignLeft {
		float: left;
		margin-right: 1.5rem;
		@include bp(sprout) {
			float: none;
			padding: 0;
		}
	}

	.alignCenter {
		text-align: center;
	}

	.wp-caption {
		max-width: 60%;
		@include bp(sprout) {
			max-width: 100%;
		}
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1rem;
		text-align: center;
		border: 2px solid lighten($darkGrey,25%);

		p {
			padding-top: 0.2rem;
			font-style: italic;
			border-top: 2px solid $darkGrey;
		}
	}

	img {
		max-width: 100%;
		height: auto !important;
		display: inline;
	}
}


//Recent Posts
.recentPostsContainer {
	@include clearfix;
	margin: 1.5rem auto;
	width: 80rem;
	@include bp(seedling) {
		width: 85%;
	}

	.recentPostModule {
		float: left;
		margin-left: 1.4rem;
		@include bp(seedling) {
			float: none;
			margin-left: 0;
			margin-bottom: 1.4rem;
		}
	}
}

//Pagination 
.pagination {
	max-width: 600px;
	margin: 2rem auto 0 auto;
	font-size: 1.4rem;
	color: whitesmoke;

	 a {
		background-color: $brandColor;
		border: none;
		padding: 0.7rem 1.2rem;
		text-decoration: none;
		@include transition(all 0.2s linear);

		&:hover {
			background-color: lighten($brandColor, 10%);
			color: whitesmoke;
		}
	}
}

//Disqus
#disqus_thread > iframe {
	margin-top: 2rem;
}


//Feature Page
.featureTitle {
	margin: 3rem 0;
}

.videoContainer {
	width: 100%;
	margin-bottom: 2rem;
}

.episodeInfo {
	@include clearfix();

	@include bp(seedling) {
		.grid {
			float: none;
		}

		.col-1-2 {
			width: 75%;
		}
	}
}

.btnContain {
	@include clearfix();
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

//Events Page
.heading {
	display: inline-block;
	width: 15rem;
}

.event {
	@include clearfix;
	border-bottom: 2px solid $darkGrey;
	padding: 1rem 0 1rem 1rem;

	&:nth-of-type(1) {
		padding-top: 0;
	}

	.eventDetails {
		@include bp(sprout){
			float: right;
		}
	}
} 

//Contact Page

.contactBlurb {
	margin-top: 1.5rem;
	max-width: 60rem;
}

.contactForm {
	margin-top: 3rem;

	input[type="text"],input[type="email"], textarea {
		-webkit-appearance: none;
		border-radius: 0;
		border: 1px solid $darkGrey;
	}

	input[type="text"],input[type="email"] {
		@include bp(sprout) {
			width: 95%;
		}
	}

	textarea {
		@include bp(seedling) {
			width: 80%;
		}

		@include bp(sprout) {
			width: 95%;
		}
	}

	.formBlock {
		margin-top: 1rem;

		label {
			display: inline-block;
			margin-bottom: 0.3rem;
		}
	}

	//Override Contact Form 7 Validation Styles
	.wpcf7-validation-errors {
		border-color: red;
		margin: 2rem 0 0 0;
	}
	.wpcf7-not-valid-tip {
		top: 7%;
		left: 1%;
	}
}

//Bio Page
.bioBlurb {

	.bioPic {
		display: inline-block;
		float: right;
		width: 35%;
		padding: 0 0 1rem 1rem;
		@include bp(seedling) {
			width: 50%;
		}
	}

	.contact {
		display: inline-block;
		margin-top: 1rem;
	}
}

//Videos Page

.videoSection {
	@include clearfix;
	width: 80%;
	@include bp(seedling) {
		width: 100%;
	}
	margin: 1.5rem auto 0 auto;
	padding-bottom: 1rem;
	border-bottom: 2px solid $darkGrey;

	.videoInfo {
		margin-top: 1rem;
		@include bp(seedling) {
			width: 95%;
		}
	}
}

//Archives Page
.archiveEntry {
	@include clearfix;
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 2px solid $darkGrey;

	.pTime {
		padding-left: 0;
		font-size: 1.4rem;
	}

	h3 {
		margin: 0 0 1rem 0;
	}

	.readOn {
		float: right;
	}
}
