//Section Heading

.sectionHeading {
	text-align: center;
	width: 95%;
	margin: 4rem auto 0;
	overflow: hidden;
	padding: 0.8rem 0;
	clear: both;

	span {
	font-family: $headerFont;
	font-size: 1.3rem;
	color: white;
	background-color: $darkGrey;
	padding: 0.8rem 1.3rem;

	position: relative;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 33%;
		height: 8px;
		border-top: 2px solid $darkGrey;
		border-bottom: 2px solid $darkGrey;
		width: 1000px;
	}

	&:before {
		left: 100%;
		margin-left: 10px;
	}

	&:after {
		right: 100%;
		margin-right: 10px;
	}

	}
}

// Generic Module
.module {
	display: block;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	position: relative;
	overflow: hidden;
}

// Recent Posts Modules
.recentPostModule {
		width: 25rem;
		@include bp(seedling) {
			width: 100%;
		}
		height: 25rem;
		text-decoration: none;
		line-height: 1.3;
		border-top: 6px solid $brandColor;
		position: relative;
		overflow: hidden;
		@include transition(all 0.3s linear);

		&:after {
			content: "Read more \2192";
			position: absolute;
			bottom: -4rem;
			width: 100%;
			background-color: darken($brandColor, 10%);
			text-align: center;
			color: white;
			font-size: 1.4rem;
			padding: 1rem 0;
			@include transition(all 0.3s linear);
		}

		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			right: 0;
			border-left: 4rem solid transparent;
			border-top: 3rem solid $brandColor;
		}

		&:hover {
			color: black;
			border-color: $brandColor;

			&:after {
				bottom: 0;
			}
		}

		h3 {
			font-size: 1.8rem;
			text-align: center;
			padding: 0.6rem;
		}

		p {
			padding: 1rem 0.8rem 0.8rem 0.8rem;
			font-size: 1.3rem;
			line-height: 1.5;
		}
}

//FeatureModule

.featureModule {
	@include clearfix();
	width: 90%;
	max-width: 900px;
	margin: 2rem auto 0 auto;
	padding: 1rem;
	border-top: 6px solid cadetblue;
		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			top: 0;
			right: 0;
			border-left: 4rem solid transparent;
			border-top: 3rem solid cadetblue;
		}

	.pTime {
		padding-left: 0;
		padding-top: 0;
		font-size: 1.5rem;
	}

	img {
		@include bp(sprout) {
			display: none;
		}
	}
}

// Latest Tweet
	.tweets {
		float: right;
		padding: 1rem;
		margin-bottom: 2rem;
		width: 40rem;
		//max-height: 20rem;
		border-left: 2px solid $darkGrey;
		border-bottom: 2px solid $darkGrey;
		@include bp(seedling) {
			display: none;
	}

		h3 {
			margin-bottom: 0.6rem;
			border-bottom: 2px solid;
		}

		.tweetData {
			margin-top: 0.5rem;
		}

		a {
			float: right;
			text-decoration: underline;

			&:hover {
				color: $brandColor;
			}
		}
	}

	// Next Gig
	.gig {
		@extend .tweets;
		width: auto;
		max-width: 40rem;
		float: left;
		border-right: 2px solid $darkGrey;
		border-left: none;
		@include bp(seedling) {
			display: none;
	}
	}