//----------Icon Font

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 10px;
}

.wf-loading {
	visibility: hidden;
}

body {
		font-family: $textFont;
}

//----------Reusable Bits
		.pTime {
			padding: 1rem 0 .3rem 1rem;
			text-align: left;
			font-style: italic;
			font-size: 1.1rem;
		}

		.bodyCopy {
			font-size: 1.8rem;
			@include bp(seedling) {
				font-size: 1.6rem;
			}
			line-height: $lineHeight;
		}

//----------Links

a {
	color: inherit;
	@include transition(color 0.2s linear);

	&:hover {
		color: $brandColor;
	}
}

//----------Headers
	h1,h2,h3,h4,h5,h6 {
		margin-top: 1rem;

		& + p {
			margin-top: 0;
		}
	}

	h1 {
		@include bp(seedling) {
			font-size: 3rem;
		}
	}

	h3, h4, h5, h6 {
		font-size: 2rem;
	}

	.pageTitle {
		font-size: 6rem;
		@include bp(seedling) {
			font-size: 4rem;
		}
		@include bp(sprout) {
			font-size: 3rem;
		}
		text-align: center;
		margin-bottom: 2rem;
		border-bottom: 2px solid $darkGrey;
	}

	.mainBanner {
		margin-top: 0;
	}

//----------Icon Fonts
.calendar, .clock, .road {
	margin-right: 0.5rem;
}

//----------Tweet Module

.tweets {
	font-size: 1.4rem;
	line-height: $lineHeight;

	.twitterColor {
		color: #55aadf;
	}

	h3 {
		text-align: center;
		font-size: 1.8rem;
	}
}

//----------Feature Module
.featureModule {
	.title {
		font-size: 2rem;
		margin: 1rem 0;
	}

	.description {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}

	a {
		font-size: 1.5rem;
	}
}

article {
	font-size: 1.8rem;
	@include bp(seedling) {
		font-size: 1.6rem;
	}
	line-height: $lineHeight;
}

//----------Post Typography

.postTitle {
	text-align: center;
}

.toComments {
	display: inline-block;
	margin: 2rem 0;
}

.blogPost {
	font-size: 1.8rem;
	@include bp(seedling) {
		font-size: 1.6rem;
	}
	line-height: $lineHeight;

	p {
		margin-top: 1.8rem;
	}

	.pTime {
		margin: 0;
		padding-left: 0;
		font-size: 1.6rem;
	}

	blockquote {
		width: 90%;
		margin: 2rem auto;
		padding: 3.5rem 0;
		@include bp(sprout) {
			padding: 1.5rem 0;
		}
		border-top: 2px solid $darkGrey;
		border-bottom: 2px solid $darkGrey;
		font-style: italic;
		text-align: center;
		clear: both;
	}

	hr {
		margin: 2.5rem 0;
	}

	ol, ul {
		margin: 1rem 0.5rem 1rem 2rem;
	}
}

//----------Feature Page

.episodeInfo {
	font-size: 2.2rem;
	@include bp(sapling) {
		font-size: 1.8rem;
	}

	.episodeTitle {
		margin-bottom: 1rem;
		font-size: 3rem;
		text-decoration: underline;
	}

	.episodeDesc {
		margin-bottom: 2rem;
	}
}

//----------Events Page
.eventsGrid {
	font-size: 1.8rem;

	td {
		text-align: center;
		vertical-align: middle;
	}
}

//----------Contact Page
.contactBlurb {
	line-height: $lineHeight;
	font-size: 2rem;
}
.contactForm {
	font-size: 2rem;

	label {
		font-size: 1.8rem;
	}
}
