/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.screenReader {
  text-indent: -9999px; }

.img > img {
  width: 100%;
  height: 100% !important; }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype"), url("../fonts/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 10px; }

.wf-loading {
  visibility: hidden; }

body {
  font-family: "museo-sans", sans-serif; }

.pTime {
  padding: 1rem 0 .3rem 1rem;
  text-align: left;
  font-style: italic;
  font-size: 1.1rem; }

.bodyCopy {
  font-size: 1.8rem;
  line-height: 1.5; }
  @media (max-width: 830px) {
    .bodyCopy {
      font-size: 1.6rem; } }

a {
  color: inherit;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear; }
  a:hover {
    color: #388c2c; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0; }

@media (max-width: 830px) {
  h1 {
    font-size: 3rem; } }

h3, h4, h5, h6 {
  font-size: 2rem; }

.pageTitle {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #161616; }
  @media (max-width: 830px) {
    .pageTitle {
      font-size: 4rem; } }
  @media (max-width: 500px) {
    .pageTitle {
      font-size: 3rem; } }

.mainBanner {
  margin-top: 0; }

.calendar, .clock, .road {
  margin-right: 0.5rem; }

.tweets, .gig {
  font-size: 1.4rem;
  line-height: 1.5; }
  .tweets .twitterColor, .gig .twitterColor {
    color: #55aadf; }
  .tweets h3, .gig h3 {
    text-align: center;
    font-size: 1.8rem; }

.featureModule .title {
  font-size: 2rem;
  margin: 1rem 0; }
.featureModule .description {
  font-size: 1.6rem;
  margin-bottom: 2rem; }
.featureModule a {
  font-size: 1.5rem; }

article {
  font-size: 1.8rem;
  line-height: 1.5; }
  @media (max-width: 830px) {
    article {
      font-size: 1.6rem; } }

.postTitle {
  text-align: center; }

.toComments {
  display: inline-block;
  margin: 2rem 0; }

.blogPost {
  font-size: 1.8rem;
  line-height: 1.5; }
  @media (max-width: 830px) {
    .blogPost {
      font-size: 1.6rem; } }
  .blogPost p {
    margin-top: 1.8rem; }
  .blogPost .pTime {
    margin: 0;
    padding-left: 0;
    font-size: 1.6rem; }
  .blogPost blockquote {
    width: 90%;
    margin: 2rem auto;
    padding: 3.5rem 0;
    border-top: 2px solid #161616;
    border-bottom: 2px solid #161616;
    font-style: italic;
    text-align: center;
    clear: both; }
    @media (max-width: 500px) {
      .blogPost blockquote {
        padding: 1.5rem 0; } }
  .blogPost hr {
    margin: 2.5rem 0; }
  .blogPost ol, .blogPost ul {
    margin: 1rem 0.5rem 1rem 2rem; }

.episodeInfo {
  font-size: 2.2rem; }
  @media (max-width: 1000px) {
    .episodeInfo {
      font-size: 1.8rem; } }
  .episodeInfo .episodeTitle {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-decoration: underline; }
  .episodeInfo .episodeDesc {
    margin-bottom: 2rem; }

.eventsGrid {
  font-size: 1.8rem; }
  .eventsGrid td {
    text-align: center;
    vertical-align: middle; }

.contactBlurb {
  line-height: 1.5;
  font-size: 2rem; }

.contactForm {
  font-size: 2rem; }
  .contactForm label {
    font-size: 1.8rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background: url("../img/ticks.png"); }

.grid {
  float: left;
  padding-right: 1rem; }
  .grid:last-of-type {
    padding-right: 0; }

.col-1-5 {
  width: 20%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-2-3 {
  width: 66.66%; }

.content {
  *zoom: 1;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 2rem;
  margin-top: 2.5rem;
  background: #fff; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }
  @media (max-width: 1000px) {
    .content {
      width: 100%; } }
  @media (max-width: 830px) {
    .content {
      margin-top: 0; } }
  .content .container {
    width: 90%;
    margin: 0 auto; }
    @media (max-width: 1000px) {
      .content .container {
        width: 100%;
        padding: 0 2rem; } }

.mainHeader .social {
  display: inline-block;
  float: right;
  text-align: right;
  padding: 1rem 5rem 0 0; }
  @media (max-width: 830px) {
    .mainHeader .social {
      padding-right: 2rem; } }
  .mainHeader .social a {
    margin-right: 0.3rem; }

.blogPost .postVideo {
  width: 100%;
  max-width: 60%;
  margin: 1rem 0; }
  @media (max-width: 500px) {
    .blogPost .postVideo {
      width: 100%;
      max-width: 90%; } }
.blogPost .alignRight {
  float: right;
  margin-left: 1.5rem; }
  @media (max-width: 500px) {
    .blogPost .alignRight {
      float: none;
      padding: 0; } }
.blogPost .alignLeft {
  float: left;
  margin-right: 1.5rem; }
  @media (max-width: 500px) {
    .blogPost .alignLeft {
      float: none;
      padding: 0; } }
.blogPost .alignCenter {
  text-align: center; }
.blogPost .wp-caption {
  max-width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  border: 2px solid #565656; }
  @media (max-width: 500px) {
    .blogPost .wp-caption {
      max-width: 100%; } }
  .blogPost .wp-caption p {
    padding-top: 0.2rem;
    font-style: italic;
    border-top: 2px solid #161616; }
.blogPost img {
  max-width: 100%;
  height: auto !important;
  display: inline; }

.recentPostsContainer {
  *zoom: 1;
  margin: 1.5rem auto;
  width: 80rem; }
  .recentPostsContainer:before, .recentPostsContainer:after {
    content: " ";
    display: table; }
  .recentPostsContainer:after {
    clear: both; }
  @media (max-width: 830px) {
    .recentPostsContainer {
      width: 85%; } }
  .recentPostsContainer .recentPostModule {
    float: left;
    margin-left: 1.4rem; }
    @media (max-width: 830px) {
      .recentPostsContainer .recentPostModule {
        float: none;
        margin-left: 0;
        margin-bottom: 1.4rem; } }

.pagination {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  font-size: 1.4rem;
  color: whitesmoke; }
  .pagination a {
    background-color: #388c2c;
    border: none;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .pagination a:hover {
      background-color: #48b338;
      color: whitesmoke; }

#disqus_thread > iframe {
  margin-top: 2rem; }

.featureTitle {
  margin: 3rem 0; }

.videoContainer {
  width: 100%;
  margin-bottom: 2rem; }

.episodeInfo {
  *zoom: 1; }
  .episodeInfo:before, .episodeInfo:after {
    content: " ";
    display: table; }
  .episodeInfo:after {
    clear: both; }
  @media (max-width: 830px) {
    .episodeInfo .grid {
      float: none; }
    .episodeInfo .col-1-2 {
      width: 75%; } }

.btnContain {
  *zoom: 1;
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }
  .btnContain:before, .btnContain:after {
    content: " ";
    display: table; }
  .btnContain:after {
    clear: both; }

.heading {
  display: inline-block;
  width: 15rem; }

.event {
  *zoom: 1;
  border-bottom: 2px solid #161616;
  padding: 1rem 0 1rem 1rem; }
  .event:before, .event:after {
    content: " ";
    display: table; }
  .event:after {
    clear: both; }
  .event:nth-of-type(1) {
    padding-top: 0; }
  @media (max-width: 500px) {
    .event .eventDetails {
      float: right; } }

.contactBlurb {
  margin-top: 1.5rem;
  max-width: 60rem; }

.contactForm {
  margin-top: 3rem; }
  .contactForm input[type="text"], .contactForm input[type="email"], .contactForm textarea {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #161616; }
  @media (max-width: 500px) {
    .contactForm input[type="text"], .contactForm input[type="email"] {
      width: 95%; } }
  @media (max-width: 830px) {
    .contactForm textarea {
      width: 80%; } }
  @media (max-width: 500px) {
    .contactForm textarea {
      width: 95%; } }
  .contactForm .formBlock {
    margin-top: 1rem; }
    .contactForm .formBlock label {
      display: inline-block;
      margin-bottom: 0.3rem; }
  .contactForm .wpcf7-validation-errors {
    border-color: red;
    margin: 2rem 0 0 0; }
  .contactForm .wpcf7-not-valid-tip {
    top: 7%;
    left: 1%; }

.bioBlurb .bioPic {
  display: inline-block;
  float: right;
  width: 35%;
  padding: 0 0 1rem 1rem; }
  @media (max-width: 830px) {
    .bioBlurb .bioPic {
      width: 50%; } }
.bioBlurb .contact {
  display: inline-block;
  margin-top: 1rem; }

.videoSection {
  *zoom: 1;
  width: 80%;
  margin: 1.5rem auto 0 auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid #161616; }
  .videoSection:before, .videoSection:after {
    content: " ";
    display: table; }
  .videoSection:after {
    clear: both; }
  @media (max-width: 830px) {
    .videoSection {
      width: 100%; } }
  .videoSection .videoInfo {
    margin-top: 1rem; }
    @media (max-width: 830px) {
      .videoSection .videoInfo {
        width: 95%; } }

.archiveEntry {
  *zoom: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 2px solid #161616; }
  .archiveEntry:before, .archiveEntry:after {
    content: " ";
    display: table; }
  .archiveEntry:after {
    clear: both; }
  .archiveEntry .pTime {
    padding-left: 0;
    font-size: 1.4rem; }
  .archiveEntry h3 {
    margin: 0 0 1rem 0; }
  .archiveEntry .readOn {
    float: right; }

.sectionHeading {
  text-align: center;
  width: 95%;
  margin: 4rem auto 0;
  overflow: hidden;
  padding: 0.8rem 0;
  clear: both; }
  .sectionHeading span {
    font-family: "myriad-pro", sans-serif;
    font-size: 1.3rem;
    color: white;
    background-color: #161616;
    padding: 0.8rem 1.3rem;
    position: relative; }
    .sectionHeading span:before, .sectionHeading span:after {
      content: "";
      position: absolute;
      top: 33%;
      height: 8px;
      border-top: 2px solid #161616;
      border-bottom: 2px solid #161616;
      width: 1000px; }
    .sectionHeading span:before {
      left: 100%;
      margin-left: 10px; }
    .sectionHeading span:after {
      right: 100%;
      margin-right: 10px; }

.module {
  display: block;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden; }

.recentPostModule {
  width: 25rem;
  height: 25rem;
  text-decoration: none;
  line-height: 1.3;
  border-top: 6px solid #388c2c;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  @media (max-width: 830px) {
    .recentPostModule {
      width: 100%; } }
  .recentPostModule:after {
    content: "Read more \2192";
    position: absolute;
    bottom: -4rem;
    width: 100%;
    background-color: #286520;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .recentPostModule:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-left: 4rem solid transparent;
    border-top: 3rem solid #388c2c; }
  .recentPostModule:hover {
    color: black;
    border-color: #388c2c; }
    .recentPostModule:hover:after {
      bottom: 0; }
  .recentPostModule h3 {
    font-size: 1.8rem;
    text-align: center;
    padding: 0.6rem; }
  .recentPostModule p {
    padding: 1rem 0.8rem 0.8rem 0.8rem;
    font-size: 1.3rem;
    line-height: 1.5; }

.featureModule {
  *zoom: 1;
  width: 90%;
  max-width: 900px;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  border-top: 6px solid cadetblue; }
  .featureModule:before, .featureModule:after {
    content: " ";
    display: table; }
  .featureModule:after {
    clear: both; }
  .featureModule:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-left: 4rem solid transparent;
    border-top: 3rem solid cadetblue; }
  .featureModule .pTime {
    padding-left: 0;
    padding-top: 0;
    font-size: 1.5rem; }
  @media (max-width: 500px) {
    .featureModule img {
      display: none; } }

.tweets, .gig {
  float: right;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 40rem;
  border-left: 2px solid #161616;
  border-bottom: 2px solid #161616; }
  @media (max-width: 830px) {
    .tweets, .gig {
      display: none; } }
  .tweets h3, .gig h3 {
    margin-bottom: 0.6rem;
    border-bottom: 2px solid; }
  .tweets .tweetData, .gig .tweetData {
    margin-top: 0.5rem; }
  .tweets a, .gig a {
    float: right;
    text-decoration: underline; }
    .tweets a:hover, .gig a:hover {
      color: #388c2c; }

.gig {
  width: auto;
  max-width: 40rem;
  float: left;
  border-right: 2px solid #161616;
  border-left: none; }
  @media (max-width: 830px) {
    .gig {
      display: none; } }

.mainHeader {
  *zoom: 1;
  background-color: #161616;
  color: white;
  font-family: "myriad-pro", sans-serif; }
  .mainHeader:before, .mainHeader:after {
    content: " ";
    display: table; }
  .mainHeader:after {
    clear: both; }
  .mainHeader h2 {
    font-size: 3rem;
    text-align: right;
    padding-right: 5rem;
    margin-top: 1rem; }
    @media (max-width: 830px) {
      .mainHeader h2 {
        padding-right: 2rem; } }
    .mainHeader h2 span {
      color: #388c2c;
      display: block; }
  .mainHeader nav > .menu {
    list-style: none;
    float: left;
    clear: right;
    margin: 0 0 1rem 5rem; }
    .mainHeader nav > .menu li {
      display: block;
      float: left;
      width: auto;
      padding: 0 1rem;
      text-align: center;
      border-right: 2px solid; }
      .mainHeader nav > .menu li:last-of-type {
        border-right: none; }
      .mainHeader nav > .menu li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        -webkit-transition: all linear 0.2s;
        -moz-transition: all linear 0.2s;
        transition: all linear 0.2s; }
        .mainHeader nav > .menu li a:hover {
          color: #388c2c; }
  .mainHeader .nav-menu {
    display: none;
    margin-left: 2rem;
    padding-bottom: 1rem;
    font-size: 2.5rem; }
    .mainHeader .nav-menu a {
      text-decoration: none; }
      .mainHeader .nav-menu a:hover {
        color: whitesmoke; }
  @media (max-width: 830px) {
    .mainHeader .nav-menu {
      display: inline-block; }
    .mainHeader nav > .menu {
      display: none; } }

.mainBanner {
  background: black url("http://kevinfroleikscomedy.files.wordpress.com/2011/12/cropped-banner1.jpg") top center no-repeat;
  min-height: 200px; }
  @media (max-width: 830px) {
    .mainBanner {
      display: none; } }

body {
  color: #3d3d3d; }

.blogPost {
  width: 90%;
  margin: 2rem auto;
  max-width: 1000px;
  clear: both; }
  @media (max-width: 830px) {
    .blogPost {
      width: 95%; } }
  .blogPost h1 > a {
    text-decoration: none; }

.expand {
  height: 100%; }

.readMore {
  text-align: center;
  font-size: 1.8rem; }

.btn {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "museo-sans", sans-serif;
  padding: 1rem 2rem;
  background: #388c2c;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  transition: background 0.2s linear; }
  .btn:hover {
    background: #44ab36;
    color: whitesmoke; }

.olderPosts {
  float: right;
  margin-top: 1rem;
  margin-right: 0.7rem;
  font-size: 1.8rem;
  line-height: 1.5; }
  @media (max-width: 830px) {
    .olderPosts {
      margin-right: 0; } }

.featureBtn {
  background: cadetblue; }
  .featureBtn:hover {
    background: #79aeaf; }

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 15px;
  background: #222;
  color: whitesmoke;
  -webkit-box-shadow: inset 0 0 5px 5px #111;
  -moz-box-shadow: inset 0 0 5px 5px #111;
  box-shadow: inset 0 0 5px 5px #111; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr.left {
  left: -260px;
  right: auto; }

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #fff;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -moz-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -o-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: linear, false, #4d4d4d, #1a1a1a;
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); }

.sidr p {
  font-size: 13px;
  margin: 0 0 12px; }

.sidr p a {
  color: rgba(255, 255, 255, 0.9); }

.sidr > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a; }

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  border-top: none;
  line-height: 49px; }

.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #111;
  -moz-box-shadow: inset 0 0 15px 3px #111;
  box-shadow: inset 0 0 15px 3px #111; }

.sidr ul li a, .sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #222;
  -moz-box-shadow: inset 0 0 15px 3px #222;
  box-shadow: inset 0 0 15px 3px #222; }

.sidr ul li ul li a, .sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both; }

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none; }

.sidr input[type=button], .sidr input[type=submit] {
  color: #333;
  background: #fff; }

.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9); }
